body {
  font-family: "Roboto", sans-serif;
  @include font-size($fz-small, $lh-small);
}

.product-catalog {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 0 $grid-gap;
  justify-content: center;
  @media (max-width: 996px) {
    grid-template-columns: repeat(3, 200px);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 200px);
  }
  @media (max-width: 475px) {
    grid-template-columns: repeat(1, 200px);
  }
}

.product-card {
  margin: $gapBetweenCardRows 0 0;

  position: relative;

  width: $product-card-width;
  padding: ($productImageTopPadding - 2px) 14px $productImageTopPadding;
  border: 1px solid $productCardBorderColor;
  border-radius: 5px;

  &__img {
    display: block;
    margin: auto;
    padding-top: $productImageTopPadding - 1px;
    max-width: $product-card-width * 0.83;
    height: $productImageheight;
    border: 3px solid transparent;
    transition: transform 1s, border-color 0s;
    &:hover {
      border-color: #f3f3f3;
      transform: scale(1.2);
      cursor: zoom-in;
    }
  }

  &__title {
    display: block;
    font-weight: 500;
    @include font-size($fz-medium, $lh-medium);
    margin-top: 42px;
    margin-bottom: 5px;
    color: inherit;
    text-decoration: none;
  }
  
  &__code {
    display: inline-block;
    margin-bottom: 15px;
  }

  &__price {
    @include font-size($fz-ex-large, $lh-ex-large);
    font-weight: bold;
  }

  &__buy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $buy-button-height;
    background-color: $moyo-blue;
    border: 1px solid $moyo-blue;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    @include font-size($fz-large, $buy-button-height - 2);
    transition-duration: 0.5s;
    &:hover {
      background-color: #fff;
      color: $moyo-blue;
    }
  }
}

.product-details__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  &--align-baseline {
    align-items: baseline;
  }
}

.product-stars {
  display: flex;

  &__star {
    height: 15px;
    width: 15px;
    margin-right: 4px;
    background: url(/images/star.svg) center no-repeat;
  }
}

@for $i from 1 to 5 {
  .product-stars--#{$i} .product-stars__star:nth-child(-n+#{$i}) {
    background-image: url(/images/star-active.svg);
  }
}
